.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.space-x-2 > * + * {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}

.list-none {
  list-style-type: none;
}

.text-sm {
  font-size: 14px;
}

blockquote {
  border-left: 4px solid gray;
  margin-left: 0;
  padding-left: 10px;
  background: rgba(0, 0, 0, 0.1);
}
