<div class="flex justify-center mx-auto list-none space-x-2" style="width: 50%">
  <li><a href="<%= page "index" %>">Home</a></li>
  <li><a href="<%= page "about" %>">About</a></li>
  <li><a href="<%= base "posts" %>">Posts</a></li>
</div>
