<ul class="flex space-x-2 font-bold justify-center font-bitter text-blue-500">
  <li><a href="<%= page "index" %>">Home</a></li>
  <li><a href="<%= page "about" %>">About</a></li>
  <li><a href="<%= base "posts" %>">Posts</a></li>
</ul>
